body { 
  color: #F7DC6F;
  background-color: #7091E6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homescreen-container {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.upper-homescreen {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: row;
}

.self-intro {
  background-color: #3D52A0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 70%;
}

.name {
  font-size: 80px;
  margin-bottom: 20px;
}

.about-me {
  font-size: 30px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.links {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
}

.links a {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  color: #F7DC6F;
}

.icon {
  height: 100%;
}

.lower-homescreen {
  display: flex;
  flex-direction: row;
  justify-content: align-left;
  height: 20%;
  width: 100%;
}

.homescreen-button {
  width: 50%;
  margin: 20px 2% 0 0;
  border-style: none;
  border-radius: 15px;
  background-color: #EDE8F5;
  font-size: 50px;
  color: #7091E6;
  font-family: "Anek Devanagari", sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.homescreen-button:hover {
  background-color: #C9C3E3;
  color: #455A64;
  transform: scale(1.05);
}

.centre {
  display: flex;
  justify-content: center;
  width: 100%;
}

.proj-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.proj-heading {
  font-size: 100px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.proj-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.proj {
  background-color: #3D52A0;
  text-decoration: none;
  color: white;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.proj-img {
  height: 300px;
}
.personal-site{
  height: 240px;
  padding: 30px;
  border-radius: 50px;
}

.proj a:link {
  text-decoration: none;
  color: white;
}

.proj a:visited {
  text-decoration: none;
  color: white;
}

.proj-tech {
  color: #FF69B4;
  font-family: "Anek Devanagari", sans-serif;
}

.proj-desc {
  color: #C9E4CA;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}

.back-button:hover .arrow {
  fill: #C9C3E3; 
}

.back-button-wrapper {
  display: inline-block;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-heading {
  font-size: 100px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.experience-wrapper {
  display: flex;
  flex-direction: row;
}

.experience {
  background-color: #3D52A0;
  text-decoration: none;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  border-radius: 20px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.experience strong {
  color: #FF69B4;
}

.contact-info {
  color: navajowhite;
}

.contact-info h3{
  margin: 0 0 0 0;
}